body{
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

/* homeボタン */
nav #nav-home {
    text-decoration: none;
    position: absolute;
        top : 250px;
        left: 5%;
    width : 150px;
    height : 150px;
    text-align: center;
    line-height: 150px;
    color : black;
    border:5px solid rgb(231, 160, 160);
    border-radius: 50%;
    background-color: #fff;
}

nav #nav-about {
    position: absolute;
        top : 250px;
        left: 45%;
    width : 150px;
    height : 150px;
    text-align: center;
    line-height: 150px;
    color : black;
    border:5px solid rgb(231, 160, 160);
    border-radius: 50%;
    background-color: #fff;
}

nav #nav-game {
    position: absolute;
        top : 250px;
        left: 25%;
    width : 150px;
    height : 150px;
    text-align: center;
    line-height: 150px;
    color : black;
    border:5px solid rgb(231, 160, 160);
    border-radius: 50%;
    background-color: #fff;
}

/* メインビジュアル particles.js */
.main_visual {
    background-color: black;
    height: 100%;
}


/* テトリスのキャンバス */
#main #canvas-tetris #canvas {
    display : none;
    border: 1px solid #fff;
    position: absolute;
        top: 50px;
        left: 30%;
    background-color: #fff;
}

/* フッター */
footer p {
    position: absolute;
        top: 500px;
        right : 5%;
    color: dimgray;
}

/* ふわふわアニメーション */
.fuwafuwa {
	-webkit-animation-name:fuwafuwa; /* fuwafuwaっていうアニメーションをしてね！ */
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	/*-webkit-animation-direction:alternate;*/
	-webkit-animation-timing-function:ease;
	
	-moz-animation-name:fuwafuwa;
	-moz-animation-duration:2s;
	-moz-animation-iteration-count:infinite;
	/*-moz-animation-direction:alternate;*/
	-moz-animation-timing-function:ease;
}
/* fuwafuwaっていうアニメーションはこんなふうだよ！ */
@-webkit-keyframes fuwafuwa {
	0% {-webkit-transform:translate(0, 0);}
	50% {-webkit-transform:translate(0, -10px);}
	100% {-webkit-transform:translate(0, 0);}
}
@-moz-keyframes fuwafuwa {
	0% {-moz-transform:translate(0, 0);}
	50% {-moz-transform:translate(0, -10px);}
	100% {-moz-transform:translate(0, 0);}